.header {
  position: relative;
  height: 27rem;

}
.header-content {
  background: #2d203e;
  height: 4rem;
  color: #fff;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 2px 3px 8px rgba(0,0,0, .3);

}

