
    <div class="container">
        <header class="header">
          <div class="header-content">
            <img src="img/logo.png" alt="Baza bajek logo" class="logo">
            <form class="search">
              <input type="text" name="" id="" class="search__input" placeholder="Szukaj bajek wg tytułu">
              <button class="search__button">
                <svg class="search__icon">
                  <use xlink:href="img/icons.svg#icon-search"></use>
                </svg>
              </button>
            </form>
            <nav class="header-bar-nav">
              <ul class="header-nav">
                <li class="header-nav__item"><a href="#">Popularne</a></li>
                <li class="header-nav__item"><a href="#">Ranking</a></li>
                <li class="header-nav__item">
                    <svg class="header-nav__favicon">
                        <use xlink:href="img/icons.svg#icon-heart"></use>
                    </svg>
                    <span class="header-nav__fav-counter">0</span>
                </li>
                <li class="header-nav__item--active"><a href="#">Zaloguj</a></li>
                <!-- TODO:
                if user succes login,
                replace Sign in link
                with user avatar and name
                and maybe logout icon
              -->
              </ul>
            </nav>
          </div>
            <div class="bg-video">
              <video class="bg-video__content" muted >
                <source src="img/video.webm" type="video/webm">
                 Your browser is not supported!
              </video>
            </div>
          </header>
      <div class="movies">
        <% movies.forEach(function(movie){%>

            <figure class="movies__item">
              <a href="movies/<%= movie.id %>">
              <img class="movies__poster" src="<%= movie.image %>">
              <figcaption class="movies__title"><%= movie.name %></figcaption>
              </a>
            </figure>

            <% });%>
      </div>
    </div>

