
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="movies">
    <% movies.forEach(function(movie){%>

        <figure class="movies__item">
          <h1 class="movies__title"><%= movie.name %></h1>
          <img class="movies__poster" src="<%= movie.image %>">
        </figure>
      <% });%>
    </div>
