<h1 class="movies-category">Najnowsze</h1>
  <div class="movies">
    <% movies.forEach(function(movie){%>
    <figure class="movies__item">
      <a href="movies/<%= movie.id %>" class="movies__item-link">
        <img class="movies__poster" src="<%= movie.image %>">
          <figcaption class="movies__title">
            <%= movie.name %>
          </figcaption>
      </a>
    </figure>
    <% });%>
  </div>
