<!DOCTYPE html>
<html lang="pl-PL">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto&amp;subset=latin-ext" rel="stylesheet">
  <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <div class="container">

        <header class="header-content">
            <img src="img/logo.png" alt="Baza bajek logo" class="logo">
            <form class="search">
              <input type="text" name="" id="" class="search__input" placeholder="Szukaj bajek wg tytułu">
              <button class="search__button">
                <svg class="search__icon">
                  <use xlink:href="img/icons.svg#icon-search"></use>
                </svg>
              </button>
            </form>
            <nav class="header-bar-nav">
              <ul class="header-nav">
                <li class="header-nav__item"><a href="#" class="header-nav__link">Popularne</a></li>
                <li class="header-nav__item"><a href="#" class="header-nav__link">Ranking</a></li>
                <li class="header-nav__item">
                    <svg class="header-nav__favicon">
                        <use xlink:href="img/icons.svg#icon-heart"></use>
                    </svg>
                    <span class="header-nav__fav-counter">49</span>
                </li>
                <li class="header-nav__item--action"><a href="#" class="header-nav__link--action">Zaloguj</a></li>
                <!-- TODO:
                if user succes login,
                replace Sign in link
                with user avatar and name
                and maybe logout icon
              -->
              </ul>
            </nav>
          </header>

        <div class="video-wrapper">
            <div class="bg-video">
              <video class="bg-video__content" muted >
                <source src="img/video.webm" type="video/webm">
                 Your browser is not supported!
              </video>
            </div>
          </div>

        <main class="main-view">

          <%- body %>

        </main>


    </div>
    <footer class="footer">
      <svg class="powered">
          <use xlink:href="img/icons.svg#tmdb-logo"></use>
      </svg>
      <p class="copyright">2019 Made by Igor Wysocki</p>
    </footer>


<script src="/js/index.js"></script>
</body>
</html>
