:root {
  --font-headers: 'Righteous', cursive;
  --font-primary: 'Roboto', sans-serif;
  --color-primary: #7a3e92;
  --color-secondary: #fbecff;
  --color-heart: #b34774;
  --color-powered:  #01d277;
  --color-grey-dark: #5d5d5d;
  --color-grey-light: #9b9b9b;
  --line: 1px solid var(--color-grey-light);
  --shadow: 6px 6px 15px 0px rgba(0,0,0, 0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--color-grey-dark);
  padding: 2rem;
  background-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ce8ca5' fill-opacity='0.32' fill-rule='evenodd'/%3E%3C/svg%3E"); }

h1 {
  font-family: var(--font-headers);
  color: var(--color-primary);
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin-bottom: 1rem;
  letter-spacing: 1px; }
  @media only screen and (orientation: portrait) and (max-width: 50em) {
    h1 {
      font-size: 2.5rem;
      line-height: 1; } }

h2 {
  font-family: var(--font-headers);
  color: var(--color-primary);
  font-size: 2.2rem;
  letter-spacing: 1px; }

.link,
.link:visited {
  color: var(--color-grey-dark);
  text-decoration: none;
  letter-spacing: 1px; }

.link:hover {
  color: var(--color-primary); }

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  width: 100%;
  height: 100%;
  z-index: -100; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  border: 1 px solid black;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  position: relative; }

.header-content {
  border-bottom: var(--line);
  border-radius: 5px 5px 0 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  align-self: flex-start;
  height: 4.5rem;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000; }
  .header-content a {
    order: -2; }
  @media only screen and (orientation: portrait) and (max-width: 50em) {
    .header-content {
      flex-wrap: wrap;
      height: auto; } }

.video-wrapper {
  position: relative;
  height: 27rem; }

.main-view {
  background-color: var(--color-secondary);
  border-radius: 0 0 5px 5px; }

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  padding: 1rem 0; }

.logo {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 2rem;
  margin-top: 7px;
  transition: all .2s; }
  .logo:hover {
    transform: scale(0.9); }
  @media only screen and (orientation: portrait) and (max-width: 30em) {
    .logo {
      margin-left: .5rem; } }
  @media only screen and (orientation: portrait) and (max-width: 22em) {
    .logo {
      height: 3rem;
      width: 3rem; } }

.search {
  flex: 0 0 40%;
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (orientation: portrait) and (max-width: 50em) {
    .search {
      flex: 0 0 100%; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-primary);
    border: none;
    padding: .5rem 2rem;
    border-radius: 100px;
    margin-right: -3.25rem;
    width: 100%; }
    @media only screen and (orientation: portrait) and (max-width: 50em) {
      .search__input {
        width: 95%; } }
    .search__input:focus {
      outline: none;
      background-color: var(--color-primary); }
    .search__input::-webkit-input-placeholder {
      color: var(--color-secondary); }
    .search__input:-webkit-autofill, .search__input:-webkit-autofill:hover, .search__input:-webkit-autofill:focus {
      -webkit-text-fill-color: var(--color-secondary);
      -webkit-box-shadow: 0 0 0px 1000px var(--color-primary) inset; }
  .search__button {
    border: none;
    background-color: var(--color-primary); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-secondary);
    cursor: pointer; }

@media only screen and (orientation: portrait) and (max-width: 50em) {
  .header-bar-nav {
    order: -1; } }

.header-nav {
  display: flex;
  list-style: none;
  align-items: center; }
  .header-nav > * {
    margin-right: 2rem; }
    @media only screen and (orientation: portrait) and (max-width: 30em) {
      .header-nav > * {
        margin-right: 1rem; } }
  .header-nav__item {
    position: relative; }
    @media only screen and (orientation: portrait) and (max-width: 22em) {
      .header-nav__item {
        font-size: 1.45rem; } }
  .header-nav__link:link, .header-nav__link:visited {
    display: inline-block;
    color: var(--color-primary);
    text-decoration: none;
    letter-spacing: 1px;
    border-bottom: 1px solid var(--color-secondary);
    transition: all .3s; }
  .header-nav__link:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-primary); }
  .header-nav__item--action {
    background-color: var(--color-primary);
    border-radius: 100px;
    padding: .385rem 2rem; }
    @media only screen and (orientation: portrait) and (max-width: 30em) {
      .header-nav__item--action {
        display: none; } }
  .header-nav__item--login {
    display: none; }
    @media only screen and (orientation: portrait) and (max-width: 30em) {
      .header-nav__item--login {
        display: inline; } }
  .header-nav__link--action:link, .header-nav__link--action:visited {
    color: var(--color-secondary);
    text-decoration: none; }
  .header-nav__favicon {
    margin-top: 5px;
    height: 3.5rem;
    width: 3.5rem;
    fill: var(--color-heart); }
    @media only screen and (orientation: portrait) and (max-width: 22em) {
      .header-nav__favicon {
        height: 3rem;
        width: 3rem; } }
  .header-nav__login {
    margin-top: 5px;
    height: 3.5rem;
    width: 3.5rem;
    fill: var(--color-primary); }
    @media only screen and (orientation: portrait) and (max-width: 22em) {
      .header-nav__login {
        height: 3rem;
        width: 3rem; } }
  .header-nav__fav-counter {
    font-size: 1.3rem;
    position: absolute;
    top: 4px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    color: var(--color-secondary); }
    @media only screen and (orientation: portrait) and (max-width: 22em) {
      .header-nav__fav-counter {
        height: 3rem;
        width: 3rem; } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }
    @supports (-ms-ime-align: auto) {
      .bg-video__content {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }

.movies-category {
  font-family: var(--font-headers);
  font-size: 1.8rem;
  letter-spacing: 3px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 0.5rem 0 0.5rem 4rem;
  flex: 0 0 100%;
  margin-top: 2rem;
  text-transform: uppercase; }
  @media only screen and (orientation: portrait) and (max-width: 30em) {
    .movies-category {
      margin-top: 0; } }

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding: 0 2rem 2rem 2rem; }
  .movies__item {
    padding: 2rem;
    display: block; }
  .movies__item-link:link, .movies__item-link:visited {
    color: var(--color-grey-light);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: all .5s; }
  .movies__item-link:hover {
    color: var(--color-grey-dark); }
  .movies__item-link:hover .movies__poster {
    transform: scale(1); }
  .movies__title {
    font-size: 1.5rem; }
  .movies__poster {
    border-radius: 3px;
    width: 100%;
    height: auto;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    transform: scale(0.95);
    transition: all .5s; }

.movie-detail-backdrop {
  display: flex;
  justify-content: center;
  background-size: cover;
  position: relative; }
  .movie-detail-backdrop::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: .5; }

.movie-detail {
  width: 100%;
  display: flex;
  padding: 2rem;
  justify-content: center;
  z-index: 1; }
  @media only screen and (orientation: portrait) and (max-width: 50em) {
    .movie-detail {
      display: block; } }
  .movie-detail__poster {
    flex: 0 1 30rem;
    padding-right: 2rem; }
    @media only screen and (orientation: portrait) and (max-width: 50em) {
      .movie-detail__poster {
        display: none; } }
  .movie-detail__poster-img {
    max-width: 100%;
    border-radius: 3px;
    box-shadow: var(--shadow); }
  .movie-detail__poster-small {
    display: none; }
    @media only screen and (orientation: portrait) and (max-width: 50em) {
      .movie-detail__poster-small {
        float: left;
        margin: 0 2rem 2rem 0;
        display: inline; } }
    @media only screen and (orientation: portrait) and (max-width: 30em) {
      .movie-detail__poster-small {
        float: none;
        display: inline; } }
  .movie-detail__content {
    background-color: #fbecff;
    border-radius: 3px;
    padding: 2rem;
    box-shadow: var(--shadow);
    flex: 0 1 60%;
    font-size: 1.8rem;
    opacity: 100%;
    margin-bottom: 5.6px;
    opacity: .85; }
    @media only screen and (orientation: portrait) and (max-width: 50em) {
      .movie-detail__content {
        font-size: 1.6rem;
        opacity: 1; } }
    @media only screen and (orientation: portrait) and (max-width: 30em) {
      .movie-detail__content {
        text-align: center; } }
  .movie-detail__info {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap; }
    .movie-detail__info-item {
      flex: 1 1;
      margin-right: 2rem; }

.not-found {
  display: flex;
  font-size: 1.8rem;
  justify-content: center; }

.copyright {
  color: var(--color-secondary); }

.powered {
  width: 12rem;
  fill: var(--color-powered); }
