:root {
  --color-primary: #5299b8;
  --color-primary-light: #92bfd3;
  --color-gray-dark: #333;
  --color-gray-light: #999; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-gray-dark);
  background-color: var(--color-primary-light); }
